%h1 About my2cents

%p
  my2cents is a research project of Auto-ID Labs St. Gallen at the Chair of Information Management (Prof. Elgar Fleisch) at ETH Z&uuml;rich, Switzerland. 
  Our interest is in consumer applications for the Internet of Things. You can read more about our research on
  = link_to("www.im.ethz.ch", "http://www.im.ethz.ch")
  \.

%h2 Partners

%p
  = link_to("codecheck.info", "http://codecheck.info")
  &mdash; the independent Swiss product information platform codecheck.info provides my2cents with high quality product information.

%p
  = link_to("Mirasense", "http://mirasense.com")
  &mdash; the my2cents iPhone app uses ScanDK, a fast and accurate barcode scanner by the ETH spin-off Mirasense.

%h2 Contact

%p
  ETH Zurich
  %br
  Stephan Karpischek 
  %br
  Chair of Information Management
  %br
  SEC E 1
  %br
  Scheuchzerstrasse 7
  %br
  8092 Zurich
  %br
  SWITZERLAND
  %br
  %br
  = link_to("info@my2cents.mobi", "mailto:info@my2cents.mobi")
  %br
  +41 44 632 42 22 phone
  %br
  +41 44 632 17 40 fax
  %br
