%h1 Feedback

%p
  Your feedback is very welcome!

%p
  Use the public support forum at
  != link_to("my2cents.uservoice.com", "http://my2cents.uservoice.com/") + "."

%p
  Or send an email to
  != link_to("feedback@mycents.mobi", "mailto:feedback@mycents.mobi") + "."
